/* --- Old callouts from Obsidian Purple theme --- */
/*
.callout-title > * {
    align-self: center;
}
body {
    --callout-padding: 0;
    --callout-title-padding: var(--size-4-2) var(--size-4-2) var(--size-4-2) var(--size-4-3);
    --callout-content-padding: var(--size-4-2) var(--size-4-2) var(--size-4-2) var(--size-4-3);
    --callout-radius: 5px;
    --callout-border-opacity:  1;
	--callout-blend-mode: normal;
}

.callout {
    border-left: 4px solid rgba(var(--callout-color), 1);
}

.callout-title-inner {
    color: #DCDDDE;
}

.callout-title {
    background-color: rgba(var(--callout-color), 0.2);
}

.callout-content {
  background-color: var(--background-primary-alt);
}
  */