/* Increase width of content (default is 700px)
   NOTE: Do not increase beyond 890px, because it will overlap garden sidebar on window width ~1400px) */
body {
    --dg-content-max-width: 850px;
}

/* make toc use all the available space */
.toc-container {
    max-height: fit-content;
}

/* styling for the footer (for imprint and such) */
.markdown-preview-view {
    padding: 0;
    height: 100% !important;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    padding: 1em 1em 0 1em;
}
footer {
    display: flex;
    justify-content: center;
    background-color: var(--background-secondary);
    padding: 1em 0;
    margin-top: 2em;
    width: 100%;
}
footer a {
    text-decoration: none;
}

/* Fix overflow, so button and toc position is correct */
/* also smooth scroll */
html, body {
    overflow: visible;
    scroll-behavior: smooth;
}

/* Remove rounded corners on site logo */
.site-logo {
    border-radius: 0;
}

/* Properly align site logo in navbar */
.navbar .site-logo {
    vertical-align: center;
}

/* Fix mobile popout burger menu from navbar overlay scrolling */
.fullpage-overlay {
    position: fixed;
}