/* fix searchbox size in filetree, so it does not look weird when window is small */
.filetree-sidebar .search-button {
    width: 150px;
}

/* make toc use all the available space */
.toc-container {
    max-height: fit-content;
}

/* smaller padding on toc */
.toc > ol {
    padding-left: 8px;
    margin-top: 0;
}

/* remove # before every toc element */
.toc-container li::before {
    content: none;
}